.searchBarWrapper {
    display: flex;
    width: 600px;
    max-height: 600px;
    max-width: 600px;
    flex-direction: column;
    margin: auto;
    gap:20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 16px;
    border-radius: 16px;
    overflow-y: auto;
}

.searchBarHeader {
    font-weight: 700;
    font-size: 20px;

}

.searchBarInputWrapper {
    width: 100%;
}

.inputBox {
    width: 100%;
    height: 34px;
    border-radius: 16px;
    outline: none;
    border: 1px solid gray;
    padding: 4px;
}


.searchBarListItem {
    padding: 6px;
}

.searchBarListItem:hover {
    background-color: beige;
    cursor: pointer;
}